<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joshua_lsj.goldenage">

    <!-- adding internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- FOR EXPERIMENT ON LOGIN ACTIVITY -->
        <activity
            android:name=".Experiment.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- FOR TESTING AFTER LOGIN THEN CONTINUE TO MAIN ACTIVITY -->
        <activity android:name=".Experiment.MainActivity"
            android:label="Experiment"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.LoginActivity" />
        </activity>

        <!-- View User Activity -->
        <activity android:name=".Experiment.ViewUserActivity"
            android:label="View User"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>

        <!-- ORIGINAL MAIN ACTIVITY
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->


        <!-- ORIGINAL APP PATIENT ACTIVITY
        <activity android:name=".AddPatientActivity"
            android:label="Add Patient"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        -->
        <activity android:name=".Experiment.AddPatientActivity"
            android:label="Add Patient"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>


        <!-- ADD USER ACTIVITY -->
        <activity android:name=".Experiment.AddUserActivity"
            android:label="Add USER"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>



        <!-- ORIGINAL ADD NURSE
        <activity android:name=".AddNurseActivity"
            android:label="Add Nurse"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        -->


        <activity android:name=".Experiment.AddClientActivity"
            android:label="Add Client"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>

        <activity android:name=".PatientMedicalActivity"
            android:label="Patient Medical Checkup"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.ViewPatientActivity" />
        </activity>
    </application>

</manifest>