<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joshua_lsj.goldenage">

    <!-- adding internet permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- adding access image permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- adding access camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- permission required to automatically restart a repeating alarm if the user reboots the device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Register the Alarm Receiver -->
        <receiver android:name=".Notification.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- FOR EXPERIMENT ON LOGIN ACTIVITY -->
        <activity
            android:name=".Experiment.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- FOR TESTING AFTER LOGIN THEN CONTINUE TO MAIN ACTIVITY -->
        <activity android:name=".Experiment.MainActivity"
            android:label="Experiment"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.LoginActivity" />
        </activity>

        <!-- View User Activity -->
        <activity android:name=".Experiment.ViewUserActivity"
            android:label="View User"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>

        <!-- View Patient Activity -->
        <activity android:name=".Experiment.ViewPatientActivity"
            android:label="View Patient"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>

        <!-- View Patient Medical Activity -->
        <activity android:name=".Experiment.ViewPatientMedicalActivity"
            android:label="View Patient Medical"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.ViewPatientActivity" />
        </activity>

        <!-- View Client Activity -->
        <activity android:name=".Experiment.ViewClientActivity"
            android:label="View Client"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>

        <!-- Add & Update User Activity -->


        <!-- Update Client Activity -->
        <activity android:name=".Experiment.AddUpdateClientActivity"
            android:label="Update Client"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        //Add Patient Using Volley
        <activity android:name=".Experiment.AddPatientActivity"
            android:label="Add Patient"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>

        <!-- ADD USER ACTIVITY -->
        <activity android:name=".Experiment.AddUserActivity"
            android:label="Add USER"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>


        <!-- Add Client Activity
        <activity android:name=".OLDD.AddClientActivity"
            android:label="Add Client"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>
-->

        <!-- Add Patient Medical -->
        <activity android:name=".Experiment.AddPatientMedicalActivity"
            android:label="Patient Medical Checkup"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.ViewPatientActivity" />
        </activity>

        <!-- Assign Driver -->
        <activity android:name=".Experiment.AssignDriverActivity"
            android:label="Assign Driver"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Experiment.MainActivity" />
        </activity>
    </application>

</manifest>